:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

a {
  font-weight: 600;
  color: #3b82f6;
  text-decoration: inherit;
}

a:hover {
  color: #1d4ed8;
}

h1 {
  font-size: 3.2rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0 0 2rem;
  padding: 0;
  line-height: 2.5rem;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 0 0 2rem;
  padding: 0;
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 0 1.5rem;
  padding: 0;
}

h5 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 1.5rem;
  padding: 0;
}

.ExampleHeader {
  margin: 0 0 2rem;
}

.Example {
  border: 10px solid #eee;
  padding: 2rem;
}